*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  white-space: normal;
  font-family: 'DM Sans', sans-serif;
  transition: all 0.1s ease-in-out;
}

@mixin bgSetting () {
  background-size: cover;
  background-position: center;
}

.bg--mobile {
  background: url('/static/images/bg-mobile.svg') no-repeat;
  @include bgSetting();
}


html,
body {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: background 0.3s ease-in-out;
  @extend .bg--mobile;

  @apply text-secondary-default;
}

@media (min-width: 1024px) {
  body {
    background: linear-gradient(0deg, rgba(0, 221, 168, 0.2), rgba(0, 221, 168, 0.2)), url('/static/images/bg-1.svg') no-repeat;
    @include bgSetting();
  }
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: lighten($color: #e8f2ff, $amount: 10%);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: lighten($color: #e8f2ff, $amount: 0%);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: darken($color: #174AFF, $amount: 0%);

  &:hover {
    background-color: darken($color: #174AFF, $amount: 10%);
  }
}


